Source: stsbl-iserv-ipv6-support
Section: misc
Priority: standard
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
  dh-sequence-iserv,
  dh-sequence-stsbl,
  dh-sequence-python2,
  dh-sequence-python3,
  dh-python,
  iserv-buildtools,
Standards-Version: 4.4.0
Homepage: ${iserv:Homepage}

Package: stsbl-iserv-ipv6-support
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  ${python:Depends},
  ${python3:Depends},
  ipv6ndpwatchd,
  iserv-portal,
  iserv-regdns,
  iserv-server-ferm (>= 19.05.14),
  iserv3-host (>= 19.12.10-1),
  iserv3-sso,
  liblist-moreutils-perl,
  libnet-interface-perl,
  libnetaddr-mac-perl,
  libpath-tiny-perl,
  libregexp-ipv6-perl,
  python,
  sipcalc,
  stsbl-iserv-config-ipv6 (>= 20.02.26),
  stsbl-iserv-dns-ula (>= 19.11.15),
  stsbl-iserv-server-dhcpy6d,
  stsbl-iserv-server-radvd,
Breaks: stsbl-iserv-server-radvd (<< 19.10.13),
Conflicts: stsbl-iserv-server-ferm-ipv6,
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IPv6-Unterstützung für IServ (EXPERIMENTELL)
 Bringt experimentelle IPv6-Unterstützung für IServ mit.
 .
 Hinweis: Bitte nehmen Sie Kontakt mit dem Hersteller auf, bevor Sie dieses
 Paket installieren. Eine Installation ohne entsprechende Fachkenntnisse und
 anschließender Konfiguration kann die Stabilität des IServ-Systems
 beeinträchtigen.
Tag: suite::iserv, role::plugin, status::highlighted, status::experimental
