Source: stsbl-iserv-ipv6-support
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://it.stsbl.de

Package: stsbl-iserv-ipv6-support
Architecture: all
Depends:
  ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  iserv-regdns,
  iserv-server-incron,
  stsbl-iserv-config-ipv6 (>= 17.10.24-2),
  stsbl-iserv-server-radvd,
  isc-dhcp-server,
  libregexp-ipv6-perl,
  libnetaddr-mac-perl,
  lsb-base,
Description: IPv6 Support für IServ
 Bringt experimentellen IPv6-Support für IServ mit.
Tag: suite::iserv
