#!/usr/bin/make -f
# rules for debuild

# needed for lintian
build:
	dh_testdir
binary-indep: 
	dh_clean
	dh_testdir
	dh_testroot
	dh_prep
	dh_testroot
	dh_installchangelogs 
	dh_compress
	dh_fixperms
	dh_iservinstall3
	dh_installdocs
	dh_installinit
	dh_systemd_enable
	dh_systemd_start
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# needed for lintian
binary-arch:

binary: binary-indep

clean:
	dh_testdir
	dh_testroot
	dh_clean 

.PHONY: build clean binary-indep binary install
